/* General */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }

/*Encabezado*/
.header{
	background-color: rgb(77, 152, 115);
	color: #dce0c8;
	padding: 2px 20rem;/*agrega espacio arriba - costado */
    /*Fijar encabezado*/
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
.header a{
	color: white;
	text-decoration: none;/*quita el subrayado*/
}
.logo-nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo{
    letter-spacing: 6px;/*espacio entre letras*/
    font-size: 2em;/*Cambia el tamaño*/
}
.logo a:hover{
    background: #ff000085;
}
.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;/*quita la viñeta [el punto]*/
}
.navigation ul li{
    display: inline-block;
}
.navigation ul li a{
    display: block;
    padding: 1rem 1rem;
    transition: all 0.2s linear;
    border-radius: 5px;
}
.navigation ul li a:hover{
    background: #ff000085;
}

/*Contenido principal*/
.main{
    padding-top: 6rem;
} 

/*Cuerpo*/
body{
position: relative;
padding-bottom: 3em;
min-height: 100vh;
}

.col-md-9{
	text-align: center;
}
 /* Boton eliminar*/ 
 .table__item__link a{
    display:flex;
    padding: 7px;
    width: 75px;
    text-decoration:none;
    color: white;
    background-color:red;
    border-radius:5px;  
 }
 .table__item__link:hover{
     color: black;
 }

/*pie de pagina*/
footer {
	background-color: black;
	color: #1bc2af;
    padding: 5px 0;/*agrega espacio arriba - costado */
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*actualizar.php*/
.cont_tot {
	margin: 30px;
	width: 100%;
	display: flex;
  }
